* {
    margin: 0;
}

body {
    background-color: rgb(236, 230, 230);
}

/*...header & banner styles...*/
.header {
    background-image: url(../images/banner/banner2.png);

    width: 1500px;
    height: 800px;
    display: flex;
}

.banner {
    width: 450px;
    height: 228px;
    margin: 230px 150px 350px 850px;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
    text-align: right
}

.description {
    margin-top: 15px;
    font-size: 18px;
    text-align: right;
    color: #444343;
}

.contact-btn {
    margin-top: 30px;
    margin-left: 280px;
    color: aliceblue;
    font-size: 27px;
    background-color: rgb(39, 42, 6);
    font-weight: 700;
    border: 0;
    height: 55px;
    border-radius: 5px;
    padding: 10px;
}

/* ...failure-history section styles... */
.failure-history {
    width: 1200px;
    display: flex;
    margin-top: 100px;
    margin-left: 80px;
}

.history {
    margin-top: 200px;
    margin-left: 200px;
    width: 400px;

}

.history-title {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.history-description {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
    color: #444343;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #444343;
}

ul li::marker {
    content: '✓';
    color: green;
    font-size: 22px;
    font-weight: 700;
}

/* ...Plans section styles... */
.my-plans {
    margin-top: 160px;
    margin-left: 160px;
}

.plans-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 80px;
    margin-left: 510px;
}

.plans-container {
    display: flex;
    gap: 100px;

}

.plan {
    width: 220px;

    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 10px;

}

.plan-description {
    color: #444343;
    font-size: 20px;
}

/* ...postive think section styles... */
.be-positive {
    background-image:
        linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 160px;
}

.positive-think {
    padding: 15px 70px;
    width: 350px;
    height: 182px;
}

.positive-title {
    font-weight: 700;
    font-size: 35px;
    color: white;
    margin-bottom: 15px;
}

.call {
    color: #F15B22;
    font-size: 20px;
    background-color: aliceblue;
    font-weight: 700;
    border: 0;
    height: 50px;
    border-radius: 5px;
    padding: 7px;
}

/* ...footer styles... */
footer {
    width: 1160px;
    height: 200px;
    background-color: #232222;
    margin-top: 50px;
    display: flex;
    gap: 350px;
    padding: 120px 170px;
}

.future {
    color: antiquewhite;
    width: 480px;
}

.footer-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-description {
    font-size: 18px;
    color: rgb(195, 181, 163);
    margin-bottom: 20px;
}

.email {
    font-size: 20px;
    color: rgb(195, 181, 163);
    margin-bottom: 6px;
}

.phone {
    font-size: 20px;
    color: rgb(195, 181, 163);
    margin-bottom: 10px;
}

.subscribe {
    padding-top: 30px;
}

.subscribe-title {
    color: antiquewhite;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

input {
    background-color: #232222;
    border-color: antiquewhite;
    border-radius: 5px;
    width: 250px;
    height: 20px;
    padding: 15px 20px;
    font-size: 20px;
    margin-bottom: 20px;
}